#footer
  .container
    ul.list-inline.pull-left
      li © 2014 Jonah Back.
    ul.list-inline.pull-right
      li
        a(href='https://github.com/backjo/fitbit-node') GitHub Project
      li
        a(href='https://github.com/backjo/fitbit-node/issues') Issues
