extends layout

block content
  h1 Fitbit for Glass
  p.lead
    | Welcome to Fitbit for Glass
    br
    | There isn't much info here yet!
    br
    | Steps Today:#{steps}
    br
    | Goal Steps: #{goal}