extends layout

block content
  h1 Fitbit for Glass
  p.lead
    | Welcome to Fitbit for Glass
    br
    | There isn't much info here yet!
    h1 Fitbit Stats
    if user
      br
      | Steps Today:#{steps}
      br
      | Goal Steps: #{goal}
